body {
	font-family: arial, sans-serif;
}

a.logout {
	color:#fff;
	text-decoration:none;
}

h1 {
	font-weight:normal;
	line-height:1.2em;
	font-size:26px;
}

h2 {
	font-size:21px;
}

.toc {
	font-size:95%;
	background-color:#F9F9F9;
	border:1px solid #AAAAAA;
}

.toc li a {
	text-decoration:none;
}

.nav {
	font-size:13px;
	border-left:1px solid #dcdcdc;
}

img.img-left {
	border:1px solid #dcdcdc;
}

img.img-right {
	border:1px solid #dcdcdc;
}

.tool-tip {
	background-color:red;
	color:#fff;
	font-size:12px;
}

#page-container {
	font-size:14px;
}

#main-page-container #logo img {
	width:200px;
	height:80px;
}

#main-search-principles {
	font-size:13px;
}

/* Global Links */

#global-links {
	background-color:#D4DFD7;
	border-top:1px solid #aaa;
	color:#b8c7c3;
	font-size:13px;
}

#global-links a {
	color:#36c;
	text-decoration:none;
}

#global-links a:hover {
	color:#333;
}

.profile-more {
	font-size:13px;
	background-color:#f9fffb;
	border: 1px solid #919191;
	border-bottom: none;
}

.profile-more a {
	color:#687F79;
	text-decoration:none;
}

.profile-more a:hover {
	background: #eee;
}

.bottom-profile-more {
	border-bottom:none !important;
}

#login-form {
	font-size:13px;
	background-color:#EFF3F0;
	border:1px solid #D4DFD7;
}

.login-message {
	font-size:14px;
}

.login-links {
	font-size:10px;
}

.forgot-password {
	font-size:10px;
}

#search-login-container {
	font-size:12px;
}

a#search-login {
	background-color:#68BD46;
	color:white;
	text-decoration:none;
}

a#search-login:hover {
	background-color:#4c8a33;
}

#search-login-text {
	font-size:12px;
	color:#666;
}

#suggested-search-container {
	font-size:14px;
	font-weight:bold;
}

.suggested-search-text {
	font-size:11px;
	font-style:italic;
	color:red;
}

.suggested-search-count {
	font-size:10px;
	font-weight:normal;
}

.suggested-search-off {
	color:#888;
}

#mini-article-container {
	font-size:13px;
	border-bottom:1px solid #dcdcdc;
}

#mini-article-title {
	font-size:20px;
	font-weight:bold;
}

#mini-article-actions a {
	font-size:11px;
}

.description {
	font-size:14px;
}

.link {
	font-size:16px;
}

.blurb {
	font-size:13px;
}

.blurb a {
	color:#49499a;
}

a.url {
	color:green;
}

a.url:hover {
	color:#003e00;
}

.actions {
	font-size:10px;
	border-left:1px solid #dcdcdc;
}

.actions a {
	color: #36c;
	text-decoration: none;
}

.actions a:hover {
	font-weight: bold;
}

#search-results-side {
	border-left:1px solid #dcdcdc;
}

.panel h2{
	font-size:14px;
	margin:0 0 7px 0;
	padding:0;
}

#admin-tools h2 {
	font-size:14px;
	margin:0 0 7px 0;
	padding:0;
}

#admin-tools a {
	font-size:11px;
}

.add-site-message {
	color:#777;
	font-size:11px;
	margin:0 0 7px 0;
}

.history-item img {
	border:1px solid #dcdcdc;
	background-color:#fff;
}

.history-item {
	font-size:12px;
}

.history-link {
	color:green;
}

.history-time {
	color:#888;
	font-size:10px;
}

.history-delete a, .history-restore a, .admin-tools a {
	font-size:10px;
}

#history-more {
	font-size:11px;
}

.spotlight .description {
	background-color:#FFFCA9;
}

.undelpeek .description {
	background-color:#FF9999;
}

.annotation {
	border-left:1px solid #dcdcdc;
}

.annotated-links {
	font-size:12px;
}

.annotated-images img {
	border:none;
}

.annotated-text {
	font-size:12px;
}

.annotated-comments {
	font-size:12px;
}

.hider {
	cursor:pointer;
	background-color:red;
	font-size:9px;
	color:#fff;
}

.comment-author {
	font-weight:bold;
}

.comment-text {
	font-style:italic;
}

.add-comment-title {
	font-size:14px;
	color:#888;
}

.deleted, .deleted .url  {
	color:#ccc !important;
}

.deleted .spotlight {
	background-color:#fff;
}

a.undelete {
	color:red !important;
	font-weight:bold;
}

.deleted .other {
	text-decoration:line-through;
}

.edit a.edit-save {
	color:green !important;
	font-weight:bold;
}

.edit a.edit-cancel {
	color:red !important;
	font-weight:bold;
}

.edit .link input {
	font-family:arial;
	font-size:14px;
}

.edit .blurb textarea {
	font-family:arial;
	font-size:13px;
}

.result-revisions {
	border-left:1px solid #dcdcdc;
}

.revision-title {
	font-weight:bold;
	font-size:13px;
}

.revision {
	font-size:12px;
}

.revision img {
	border:1px solid #dcdcdc;
	background-color:#fff;
}

.revision-time {
	color:#888;
	font-size:10px;
}

.revision-restore, .revision-show {
	font-size:10px;
}

.revision del {
	font-weight:bold;
	color:red;
}

.revision b {
	font-weight:bold;
	color:blue;
}

.revision-link, .revision-blurb {
	background-color:#F3F3F3;
}

.revision-change {
	background-color:#e5fde5;
}

#loading {
	font-size:14px;
	font-style:italic;
}

.panel .subtitle {
	font-size:11px;
	color:#777777;
	margin:0 0 7px 0;
}

.subtitle img {
	vertical-align:text-top;
}

#history-filter select {
	color:#000;
	font-size:10px;
}

#history-filter {
	font-size:10px;
	color:#888;
}

#try-container {
	font-size:11px;
	color:#777777;
}

#suggest-container {
	font-size:13px;
	font-weight:bold;
}

.add-more {
	text-decoration:underline;
	color:blue;
	font-size:9px;
	cursor:pointer;
	margin:0;
}

#related-container {
	font-size:12px;
}

.related-result {
	color:#000;
	font-weight:bold;
	text-decoration:none;
	font-size:12px;
	margin-right:6px;
	background-repeat:repeat-x;
	background-position:0px 20px;
	background-image:url('lblue.png');
}

.related-off {
	color:#888;
	cursor:pointer;
}

.related-off:hover {
	color:#000;
}

.related-result-count {
	font-size:10px;
	font-weight:normal;
}

#dialog-window {
	background-color:#fff;
	border:1px solid #888;
	font-size:12px;
}

#change-background a {
	color:blue !important;
	text-decoration:underline !important;
	font-size:11px !important;
}

.dialog-message {
	color:#888;
}

#dialog-window h3 span {
	font-size:10px;
	font-weight:normal;
}

.dialog-actions {
	font-size:12px;
}

#mw-image-attribution {
	font-size:10px;
	color:#888;
}

.try-message {
	color:#888;
}

#overlay {
	background-color:#888;
	opacity:0.5;
}

.mw-image {
	border:1px solid #dcdcdc;
	cursor:pointer;
}

.mw-image-over {
	border:1px solid #dcdcdc;
	cursor:pointer;
}

#preview-container {
	border:1px solid #dcdcdc;
}

.preview-header {
	background-color:#efefef;
	border-bottom:1px solid #dcdcdc;
}

.preview-text {
	font-size:12px;
	color:#666;
}

a.preview-close {
	font-size:11px;
	font-weight:normal;
}

.preview-window {
	background-color:#fff;
}

.preview-window iframe {
	border:none;
}

#site-language {
	font-size:11px;
	color:#687F79;
	cursor:pointer;
}

#search-notifications {
	background-color:#fff;
	font-size:11px;
}

a.notifications-close {
	background-color:orange;
	font-size:14px;
	text-decoration:none;
	color:#fff !important;
	height:14px;
}

a.notifications-close:hover, #ws_notifications_small a.notifications-close:hover {
	background-color:#cc8502;
}

.notifications-title {
	border-left:1px solid orange;
	border-right:1px solid orange;
	background-color:orange;
	font-size:13px;
	color:#fff;
}

.indiv-notification a {
	text-decoration:none;
	border-left:1px solid #dcdcdc;
	border-right:1px solid #dcdcdc;
}

.indiv-notification img {
	border:1px solid #dcdcdc;
	width:18px;
}

.indiv-notification a:hover {
	background-color:#FFFCA9;
}

#ws_notifications_small {
	background-color:orange;
}

#ws_notifications_small a {
	color:white;
	text-decoration:none;
}

.green {
	color:green;
}

.mini-expand {
	font-size:10px;
}

a.url {
	color:green;
	cursor:pointer;
}

#count {
	font-size:12px;
}

.jswarning{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding:10px 0;
  border: #d6d8d6 1px solid;
  background: #ffffe1;
}

#ac {
	background-color:#f9fffb;
	border-bottom:2px solid #dcdcdc;
	color:#b8c7c3;
	font-size:14px;
	text-align:left;
	padding:2px;
}

#ac a {
	color:#687F79;
	text-decoration:none;
}

#ac a:hover {
	color:#333;
}

/* Related Terms Cloud */

#cloud a {
	background:#eee;
	padding:2px;
	line-height:22px;
}

#cloud a:hover {
	text-decoration:none;
	background:#e1e1e1;
}

.toggleDeleted{
	margin-top:-10px;
	margin-bottom:10px;
}

.toggleDeleted a{
	font-size:10px;
	color:#666666;
}

/* AdSense */
.ad_header {color:#000;font-weight:bold;font-size:12px}
.ad_line1 {color:#0000FF;font-size:12px; text-decoration:underline}
.ad_text {color:#000000;font-size:12px; text-decoration:none}
.ad_url {color:#008000;font-size:12px;text-decoration:none}
.wide_ads {background:#EDFFE9; padding:3px;padding-left:5px;margin-top:5px;}
.wide_ads .ad_url{padding-right:5px}
.narrow_ads {background:#EFF8FE; padding:10px}

/* START - PRIDEGLOBE TECH SOLUTIONS - Added for IE8 css Issues*/

.wise_applink {
    cursor: pointer;
    display: block;
    font-size: 12px;
    height: 15px;
    line-height: 15px;
    overflow: hidden;
    white-space: nowrap;
}
.wise_applink:hover {
    background-color: #DDDDDD;
}
.wise_scrollbutton {
    position: relative;
    text-align: center;
    top: 66px;
}
.wise_listheader {
    font-size: 12px;
    font-weight: bold;
    height: 15px;
    line-height: 15px;
    margin-bottom: 3px;
    white-space: nowrap;
}
.wise_container {
    background-color: #FFFFFF;
    border-bottom: 1px solid #DCDCDC;
    border-left: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
    color: #777777;
    height: 100px;
    padding: 5px;
    width: 81%;
    z-index: 1000;
}
.wise_about {
    float: right;
    font-size: 10px;
    padding: 2px;
}
.wise_categories {
    float: left;
    font-size: 12px;
    overflow: hidden;
    padding: 2px 2px 2px 5px;
    width: 25%;
}
.wise_menuscroll {
    float: left;
    font-size: 12px;
    height: 100%;
    padding: 2px 5px 2px 2px;
    width: 20px;
}
.wise_apps {
    float: left;
    font-size: 12px;
    overflow: hidden;
    padding: 2px 2px 2px 3px;
    width: 25%;
}
.wise_appcount {
    color: #666666;
    font-size: 11px;
    padding: 0 3px;
}
.wise_clear {
    clear: both;
}
.wise_link {
    color: blue;
    cursor: pointer;
}
.wise_washingtonpost_item {
    padding: 0 0 10px;
}
.wise_washingtonpost_bottomfix {
    border-bottom: 0 none;
}
.wise_washingtonpost_info {
    color: #767676;
    font-size: 11px;
    position: absolute;
    right: 0;
}
.wise_washingtonpost_symbols {
    font-size: 10px;
}
.wise_dev_wrapper {
    max-height: 300px;
    overflow: auto;
    padding: 5px;
}
.wise_dev_code {
    background-color: #FAFAFA;
    color: #333333;
    font-family: monospace;
    padding: 5px;
}
.wise_dev_header {
    color: #0080C0;
    font-weight: normal;
    margin: 20px 0 5px;
}
.wise_dev_param {
    color: #0080C0;
    font-weight: bold;
    margin: 20px 0 5px;
}

/* END - PRIDEGLOBE TECH SOLUTIONS - Added for IE8 css Issues*/